.calendar{
    display: inline-block;
    *display: inline;
    zoom: 1;
    position: relative;
    z-index: 1;
    font-family: Roboto,"Helvetica Neue",Helvetica,Optima,Segoe,"Segoe UI",Candara,Calibri,Arial,sans-serif;
    color: #000;
    font-weight: 300;
    line-height: 100%;
    background-color: #fff;
    border: 1px solid;
    border-color: #e5e6e9 #dfe0e4 #d0d1d5;
    font-size: 15px;
    text-decoration: none;
    padding: 13px 12px 12px 43px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    cursor: pointer;
    -webkit-font-smoothing: antialiased!important;
    text-shadow: 1px 1px 1px #00000000;
 
}