.leftbar {
  flex: 4.5;

  hr {
    background-color: #a5a5a5;
    height: 1px;
    border: none;
    width: 725px;
  }

  .leftbarFlex {
    position: relative;
    display: flex;
    margin-top: 30px;



    .rightFlex{
          
        margin-left: 35px;


        .right {
            width: 350px;
            max-height: 490px;
            margin-top: 35px;
            // margin-left: 40px;
            border: 1px solid #f0f0f0;
            background-color: #f7f7f7;
      
            .spanDate {
              position: absolute;
              color: white;
              padding: 20px;
              font-size: 19px;
              font-weight: 700;
            }
            img {
              width: inherit;
              height: 250px;
              object-fit: cover;
            }
      
            .rightbarText {
              padding: 20px;
      
              .textMusicalEvent {
                display: flex;
                align-items: center;
                font-weight: 600;
                color: #ffbe30;
                font-size: 16px;
                word-spacing: 2px;
                letter-spacing: 0.6px;
              }
      
              h3 {
                font-weight: 700;
                padding: 10px 0px;
                font-size: 18px;
                border-bottom: 1px solid #f0f0f0;
              }
      
              p {
                font-size: 16px;
                line-height: 1.5;
              }
      
              button {
                width: 160px;
                height: 50px;
                border: none;
                outline: none;
                background-color: #ffffff;
                margin-top: 15px;
                text-align: center;
                font-size: 18px;
                font-weight: 600;
                border-radius: 3px;
                cursor: pointer;
                transition: all 0.3s ease-in;
      
                &:hover {
                  background: -webkit-gradient(
                    linear,
                    left top,
                    right bottom,
                    from(#ff3e00),
                    to(#ffbe30)
                  );
                  background: -webkit-linear-gradient(
                    top left,
                    #ff3e00,
                    #ffbe30
                  );
                  background: linear-gradient(
                    to bottom right,
                    #ff3e00,
                    #ffbe30
                  );
      
                  color: white;
                }
              }
            }
          }
    }




    .left {
      width: 350px;
      max-height: 490px;
      margin-top: 35px;
      border: 1px solid #f0f0f0;
      background-color: #f7f7f7;
      .spanDate {
        position: absolute;
        color: white;
        padding: 20px;
        font-size: 19px;
        font-weight: 700;
      }
      img {
        width: inherit;
        height: 250px;
        object-fit: cover;
      }

      .leftbarText {
        padding: 20px;

        .textMusicalEvent {
          display: flex;
          align-items: center;
          font-weight: 600;
          color: #ffbe30;
          font-size: 16px;
          word-spacing: 2px;
          letter-spacing: 0.6px;
        }

        h3 {
          font-weight: 700;
          padding: 10px 0px;
          font-size: 18px;
          border-bottom: 1px solid #f0f0f0;
        }

        p {
          font-size: 16px;
          line-height: 1.5;
        }

        button {
          width: 160px;
          height: 50px;
          border: none;
          outline: none;
          background-color: #ffffff;
          margin-top: 15px;
          text-align: center;
          font-size: 18px;
          font-weight: 600;
          border-radius: 3px;
          cursor: pointer;
          transition: all 0.3s ease-in;

          &:hover {
            background: -webkit-gradient(
              linear,
              left top,
              right bottom,
              from(#ff3e00),
              to(#ffbd2e)
            );
            background: -webkit-linear-gradient(
              top left,
              #ff3e00,
              #ffbe30
            );
            background: linear-gradient(
              to bottom right,
              #ff3e00,
              #ffbe30
            );

            color: white;
          }
        }
      }
    }
  }
}
