.location-wrapper{
    word-spacing: 2px;
    letter-spacing: .6px;
    color: #878787;
    font-size: 16px;
    border-radius: 3px;
    background-color: #f7f7f7;
    margin-top: 782px;
    margin-left: 4px;
}